<%- include('../partials/header') %>

<h1>Create a New Post</h1>
<form id="new-post-form" action="/posts" method="POST">
    <label>Title: 
        <input type="text" name="title">
    </label>
    <br><br><button type="submit">Add Post</button>
</form>

<%- include('../partials/footer') %>