<%- include('../partials/header') %>

<form id="new-post-form" action="/posts" method="POST">
    <input type="text" name="imgUrl" id="img-url" placeholder="Enter URL Here">
    <label>Title: 
        <input type="text" name="title">
    </label>
    <label>About: 
        <textarea name="about" id="post-about" cols="30" rows="10" placeholder="Tell us what this post means and/or when you would use it"></textarea>
    </label>
    <label>History: 
        <textarea name="history" id="post-history" cols="30" rows="10" placeholder="Give us the origin story - where did this content come from?"></textarea>
    </label>
    <br><br><button type="submit">Add Post</button>
</form>

<%- include('../partials/footer') %>